---
import MyServices from "../data/services"
import '../scss/services-tabs.scss'

const MY_SERVICES = MyServices()
const my_emailid = "dev@kushalkumarsaha.com"
const TAGS = [ 'All', 'Software', 'Pentesting', 'Discord', 'Art', 'Editing' ]

const inlineStyles = {
    nofill: { fill: "none" },
    pt2: { paddingTop: "2px" },
    customFill: { fill: "#44444495" }
}

---

<div class="rcm-sticky">
    { TAGS.map( tag => ( <div class="rcm-filter">{tag}</div> )) }
</div>

<div class="rcm-tabs">
    { MY_SERVICES.map((service) => (

        <a  class={`rcm-tab ${service.tag}`} href={`mailto:${my_emailid}?subject=${encodeURIComponent(service.emailSubject)}&body=${encodeURIComponent(service.emailBody)}`}>
            <div class="rcm-tab-top">
                <div class="rcm-tab-top1">
                    <div class="rcm-tab-tag">
                        <div class="rcm-tab-tag-icon" style={inlineStyles.pt2}><svg xmlns="http://www.w3.org/2000/svg" style={inlineStyles.customFill} height="16" width="14" viewBox="0 0 448 512"><path d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192H400V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192z" /></svg></div>
                        <div class="rcm-tab-tag-label">{service.tag}</div>
                    </div>
                    <div class="rcm-tab-go">
                        <svg stroke="currentColor" style={inlineStyles.nofill} stroke-width="1" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" font-size="40" class="sc-arrow" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10"></circle><path d="M8 12h8"></path><path d="m12 16 4-4-4-4"></path></svg>
                    </div>
                </div>
                <div class="rcm-tab-top2">
                    {service.booking_name}
                </div>
                {service.description !== null ? (
                    <div class="rcm-tab-top3">
                        {service.description}
                    </div>
                ) : (<span style="display:none;"></span>)}
            </div>

            <div class="rcm-tab-bottom">
                <div class="rcm-tab-bottom-left">{service.time}</div>
                <div class="rcm-tab-bottom-right">{service.price}</div>
            </div>
        </a>
    ))}
</div>




<script>
    let currTag:string = 'All'
    let prev = document.querySelectorAll(".rcm-filter")[0]
    prev.classList.add("rcm-filter-active")

    document.querySelectorAll(".rcm-filter").forEach( filter => filter.addEventListener( "click", () => {
        currTag = filter.textContent || "All"
        filter.classList.contains("rcm-filter-active") ? "" : filter.classList.add("rcm-filter-active");
        if(prev!==filter)
            prev.classList.contains("rcm-filter-active") ? prev.classList.remove("rcm-filter-active") : "";
        prev = filter

        document.querySelectorAll(".rcm-tab").forEach(tab => {
        if (tab instanceof HTMLElement)
            if (currTag === "All")
                tab.style.display = "flex"
            else
                (tab.classList.contains(String(currTag))) ? tab.style.display = "flex" : tab.style.display = "none"
        })
    }))

</script>
